/* GENERAL */
@font-face {
    font-family: LEVIBRUSH;
    src: url("../fonts/levibrush/levibrush-webfont.ttf");
}



html, body {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}


h2 {
    color: #7fd9f7;
}

/* NAVIGATION */
a.navbar-brand .logo {
    width:40px;
    padding-top:0;
    padding-bottom:0;
    margin:0;
}
a.navbar-brand{
	font-family: Levibrush, cursive;
    font-size: 2.5em;
    color: #fff;
}
a.navbar-brand:visited{
    color: #fff;
}
.navbar-right > a:visited{
    color: #b2c6cd;
}
.navbar-inverse .navbar-nav a {
    padding-top:32px;
    padding-bottom: 32px;
}
.alert-warning .form-submit{
    -webkit-box-shadow: 0 5px #e96300;
    -moz-box-shadow: 0 5px #e96300;
    box-shadow: 0 5px #e96300;
    font-size:16px;
    margin: 10px 0;
    color: #ffffff;
    background-color: #f58410;
    border:none;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    margin-top:0;
}
.alert-warning .form-submit:hover{
    box-shadow: 0 1px #e96300;
    margin-top:4px;
}
.searchBox{
    display: none;
}
.searchBox.active {
    display: block;
}


#mainNav {
	margin-bottom: 20px;
}

/*  IMAGES  */
img {
    width: 100%;
    height:auto;
}
 .feed-icon img{
    width:auto;
    height:auto;
}

.portfolio-header:after{
    width:100%;
    height:auto;
}

.embedded-video .player iframe{
    width:100%;
    height:auto;
}

/* SKILLS */
.skill {
    text-align: center;
}
.skill .head i.glyphicon{
    font-size:3em;
    
}

/* HELPERS */
.hidden {
    display: none;
}
.field-name-field-url {
    display: none;
}
h2.slogan{
    text-align: center;
    margin-top:0;
}

/*  HOME    */
.palette-overboard h3, .palette-overboard a{
    color: #7fd9f7;
}
.palette-overboard p, .palette-overboard h2 a, .palette-overboard h2{
    color: #fff;
}
.palette-overboard .caption p{
    color: #000;
}
.palette-overboard .thumbnail-caption{
    margin-top:10px;
}
.homeSection{
    padding-bottom: 24px;
}
.region-recentblogposts .item-list ul{
    list-style: none;
}
.view-recentprojects h2{
    font-size: 1.1em;
}
.view-recentprojects {
    margin-bottom: 24px;
}

/* PORTFOLIO*/
/*Portfolio View*/
ul.pager{
    margin-top: 20px;
}
/*.views-row {*/
    /*float: left;*/
/*}*/

/* DETAIL PORTFOLIO */
.view-related-projects h2{
    font-size:1.1em;
}
ul.portfolio-meta {
    list-style: none;
    padding-left:0;
    padding-top: 20px;
    padding-bottom: 20px;
}
ul.portfolio-meta li {
    font-size: .9em;
    font-weight:200;
}
ul.portfolio-meta li span{
    display: inline-block;
    font-size: .8em;
    letter-spacing: 2px;
    width: 130px;
    text-transform: uppercase;
}
ul.portfolio-meta li .field {
    display: inline-block;
}
ul.portfolio-meta li .field .field-items .field-item {
    display: inline-block;
    padding-right: 4px;
}

/* BLOG */


/*  FORM */
.webform-client-form label{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2px;
    text-align: right;
    margin-right:20px;
    display: inline-block;
    font-size: .8em;
    letter-spacing: 2px;
    width: 130px;
    text-transform: uppercase;
}
.webform-client-form .webform-component input {
    border: 1px solid #d6e1e5;
    color: #364347;
    font-size: 16px;
    line-height: 1.467;
    padding: 7px 12px;
    height: 40px;
    -webkit-appearance: none;
    border-radius: 4px;
}
.webform-client-form .webform-component textarea {
    border: 1px solid #d6e1e5;
    color: #364347;
    font-size: 16px;
    line-height: 1.467;
    padding: 7px 12px;
    -webkit-appearance: none;
    border-radius: 4px;
}

.form-actions .webform-submit, .vote-form .form-submit,.form-submit {
    margin: 10px 0;
    margin-right: 10px;
    font-size:16px;
    color: #fff;
    background-color: #02baf2;
    font-family: "SourceSansProSemiBold", Helvetica, Arial, sans-serif;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6;
    border-radius: 4px;
    padding: 7px 15px 6px 15px;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
}

.form-actions .webform-submit:hover, .vote-form .form-submit:hover, .form-submit:hover{
    background-color: #7fd9f7;
}
.field-name-field-map iframe {
    width:100%;
}

/*  POLL    */
.poll .form-radio {
    width:22px;
}

/*  SHARE ICONS    */

#widgets-element-socialmedia_share-default .widgets-element-horizontal{
    margin-right: 10px;
}
.link-wrapper {
    display: none;
}


/*  FOOTER  */
.region-footer .block-menu .content ul.menu {
    list-style: none;
    padding-left: auto;
    left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.region-footer .block-menu .content ul.menu li{
    display: inline-block;
    line-height:1.3;
    border-right:4px;
    position: relative;
}
.region-footer .block-menu .content ul.menu li a{
    padding:10px 15px;
    color: #02baf2;
    text-decoration: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
}
.region-footer .block-menu .content ul.menu li a:hover {
    color: #7fd9f7;
}


/* MEDIA QUERIES*/
@media (max-width: 875px) {
    a.navbar-brand .logo {
        width:40px;
        padding-top:0;
        padding-bottom:0;
        margin:0;

    }
    a.navbar-brand{
        font-family: Levibrush, cursive;
        font-size: 1.5em;
        color: #fff;
    }
    a.navbar-brand:visited{
        color: #fff;
    }
    .navbar-right > a:visited{
        color: #b2c6cd;
    }
    .navbar-inverse .navbar-nav a {
        padding-top:8px;
        padding-bottom: 8px;
    }
 }
